
@charset "utf-8";

body{
	overflow-x: hidden;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-size: 11px;
	color: #666;
}
a {
    color: #666;
	text-decoration: none;
	-webkit-transition: color 0.2s ease-in;
	-moz-transition: color 0.2s ease-in;
	-ms-transition: color 0.2s ease-in;
	-o-transition: color 0.2s ease-in;
	transition: color 0.2s ease-in;
}
a:hover, a:focus {
	color: #2A9FD8;
	text-decoration: none;
	-webkit-transition: color 0.2s ease-in;
	-moz-transition: color 0.2s ease-in;
	-ms-transition: color 0.2s ease-in;
	-o-transition: color 0.2s ease-in;
	transition: color 0.2s ease-in;
}
a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}


section.parallax-effect {
   /* margin-top: 30px;*/
}
html, html a {
    -webkit-font-smoothing: antialiased !important;
}
.h1, h1 {
    font-size: 30px;
}
.h2, h2 {
    font-size: 24px;
}
/* Top Header */

.menu-right {
    position: relative;
    width: 16%;
    float: right;
    text-align: left;
}
ul.top-menu {
    background: #ccc;
    text-align: left;
    padding-left: 16px;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 0;
}
ul.top-menu li {
    /* width: 40%; */
    display: inline-block;
    font-weight: 600;
    color: #666;
    padding: 9px 13px 9px 13px;
}

ul.top-menu li a{
    color: #666;
}
ul.top-menu li a:hover{
    color: #2A9FD8;
}

/* Top Header */


/* Header
-------------------------------------------------- */
header {
	background: #fff;
	padding-top: 10px;
    padding-bottom: 15px;
}
/* Base Navigation */
header nav {
	float: left;
	margin: 0 0 0 20px;
}
div#logo img{
	height: 45px;
}
.navbar {
	border: none;
	/*-webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);*/
	/*box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);*/
	-webkit-border-radius: 0 0 0 0;
	border-radius: 0 0 0 0;
	z-index: 9997;
}
.navbar-default {
	background-color: #fff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #5e5e5e;
	background-color: transparent;
}
.navbar-default .navbar-text {
	color: #5e5e5e;
}
.navbar-default .navbar-nav > li > a {
	color: #1D253A;
	font-size: 13px;
    font-weight: 600;
    font-style: normal;
}
.navbar-default .navbar-nav > li.active:before {
        color: #1d253a;
    position: absolute;
    content: "\f0d8";
    top: 57px;
    margin-left: 30px;
    /*right: 30px;*/
    /* font-size: 110px; */
    /* display: inline-block; */
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 38px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-align: right; */
    /* margin-right: 10px; */
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .dropdown-menu > li > a:focus {
    color: #2A9FD8;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	outline: none !important;
	background-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	outline: none !important;
	background-color: transparent;
}
.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
	color: #5e5e5e;
	outline: none !important;
	background-color: transparent;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	outline: none !important;
	background-color: #fff;
}
.navbar-nav .dropdown-menu  {
	/*border-top: 2px solid;*/
	font-size: 13px;
}
.navbar-default .navbar-nav .dropdown-menu > li > a {
	color: #5e5e5e;
}
.navbar-default .navbar-nav .dropdown-menu > .active > a, .navbar-default .navbar-nav .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .dropdown-menu > .active > a:focus {
	color: #ffffff;
	text-decoration: none;
	background-color: #428bca;
	outline: 0;
}
.navbar-default .navbar-nav .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .dropdown-menu > .disabled > a:hover, .navbar-default .navbar-nav .dropdown-menu > .disabled > a:focus {
	color: #999999;
}
 @media (min-width: 768px) {
/* Logo */
header #logo {
	float: left;
	padding: 10px 22px 13px 0;
	/*border-right: 1px solid #e1e1e1;*/
	max-width: 100%;
}
/* Navbar */
.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 0;
}
.navbar-brand {
	float: left;
	padding: 0;
	font-size: 18px;
	line-height: 20px;
}
.navbar > .container .navbar-brand {
	margin-left: 0;
}
/* Dropdown */
.navbar-nav > li > a {
	padding: 23px 22px;
}
.navbar-nav > li:first-child {
	padding-left: 40px;
}
.navbar-nav .caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 5px;
	vertical-align: middle;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
.navbar-nav .dropdown {
	position: static;
}
.navbar-nav .dropdown-toggle:focus {
	outline: 0;
}
.navbar-nav .dropdown-menu {
	position: absolute;
	top: 87px;
	left: 0;
	display: none;
	float: left;
	min-width: 160px;
	padding: 0;
	margin: 0;
	font-size: 12px;
	list-style: none;
	background-color: #ffffff;
	background-color: rgb(29, 37, 58);
	color: rgba(255, 255, 255, 0.95);
	border-right: none;
	border-bottom: 1px solid #1d253a;
	border-left: none;
	border-radius: 0px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
}
.navbar-nav > li > .dropdown-menu {
	margin-top: -1px;
}
.navbar-nav .dropdown-menu.pull-right {
	right: 0;
	left: auto;
}
.navbar-nav .dropdown-menu .divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5;
}
.navbar-nav .dropdown-menu > li > a {
	display: block;
	padding: 10px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.428571429;
	white-space: nowrap;
	-webkit-transition: all ease-in .1s;
	-moz-transition: all ease .1s;
	-ms-transition: all ease .1s;
	-o-transition: all ease .1s;
	transition: all ease-in .1s;
	border-bottom: 1px solid #e1e1e1;
	background-color: transparant;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}
.navbar-nav .dropdown-menu > li:last-child > a {
	border-bottom: 0px;
}
.navbar-nav .dropdown-menu > li > a:hover, .navbar-nav .dropdown-menu > li > a:focus {
	text-decoration: none;
	background-color: #fff;
	-webkit-transition: all ease-out .1s;
	-moz-transition: all ease .1s;
	-ms-transition: all ease .1s;
	-o-transition: all ease .1s;
	transition: all ease-out .1s;
}
.navbar-nav .dropdown-menu > .disabled > a:hover, .navbar-nav .dropdown-menu > .disabled > a:focus {
	text-decoration: none;
	cursor: not-allowed;
	background-color: transparent;
	background-image: none;
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.navbar-nav .open > .dropdown-menu {
	display: block;
}
.navbar-nav .open > .dropdown-menu, #top-header .open > .dropdown-menu {
	animation-name: fadeIn;
	animation-duration: 0.4s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 0.4s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-out;
	-moz-animation-name: fadeIn;
	-moz-animation-duration: 0.4s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease-out;
}
/* Shrink Navigation */
.navbar.shrink .navbar {
	height: 64px;
	-webkit-transition: all linear 0.3s;
	-moz-transition: all linear 0.3s;
	-o-transition: all linear 0.3s;
	transition: all linear 0.3s;
}
.navbar.schrink .navbar-default {
	background-color: rgba(255, 255, 255, 0.95);
}
.navbar #logo {
	width: 100%;
}
.navbar.shrink #logo {
	-webkit-transition: all linear 0.3s;
	-moz-transition: all linear 0.3s;
	-o-transition: all linear 0.3s;
	transition: all linear 0.3s;
	padding: 10px 20px 16px 0;
}
.navbar.shrink .navbar-nav > li > a {
	padding-top: 22px;
	padding-bottom: 22px;
	-webkit-transition: all linear 0.3s;
	-moz-transition: all linear 0.3s;
	-o-transition: all linear 0.3s;
	transition: all linear 0.3s;
}
}

.dropdown-menu.bar {
    position: static;
    float: right;
    border: none;
    border: none;
    border-radius: unset;
    -webkit-box-shadow: none;
    box-shadow: none;
    top: 0;
    left: unset;
    background-color: #1D253A;
    width: 600px;
    padding-top: 20px;
    /*height: 200px;*/
}

@media (min-width: 1024px){
.drop-text {
    position: relative;
    top: -15px;
}
}
.green-text {
    display: block !important;
    color: #29abe2 !important;
    font-size: 14px;
}

.green-text.header {
    font-size: 16px;
}

.btm-header.navigation ul {
    float: right;
}

.green-text.list {
    position: relative;
    left: -75px;
}
.green-text {
    display: block !important;
    color: #29abe2 !important;
    font-size: 14px;
}
.btm-header.navigation ul li {
    display: inline;
}


.btm-header.navigation ul li.active a {
    color: #29abe2;
}

.btm-header.navigation ul {
    float: right;
    padding-top: 10px;
}


.green-text
{
    display: block !important;
    color: #29abe2 !important;
    font-size: 14px;
}
.green-text.italic
{
    font-style: italic;
    padding: 5px !important;
}
.col-sm-7.reg-block
{
    position: relative;
    left:-80px;
}
.reg-text
{
    font-size: 14px;
    display: block !important;
    padding: 5px !important;
    color: #848484 !important;

}
.green-text.list
{
    position: relative;
    left: -75px;
}
.green-text.item
{
    /*padding-top: 10px;*/
}
.green-text.header
{
    font-size: 16px;
}
.reg-text-header
{
    font-size: 16px;
    padding: 0px;
}
.dropdown-toggle.bar
{
    font-style: italic;
}
.row.drop
{
    padding-top: 10px;
}
.col-sm-9.drop
{
    padding-left: 60px;
}
.margin-right-10
{
    margin-right: 10px;
}
.bar
{
    color: #e5e5e5;
    font-size: 14px;
}

/* Retina Logo */
header #logo #retina-logo {
	display: none;
}

.banner {
    padding-bottom: 1px;
    background: #fff;
    margin-top: 0;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    height: 450px;
}

.carousel-control.left {
    /* background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%); */
    background-image: none;
    /* background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001))); */
    /* background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%); */
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);*/
    /* background-repeat: repeat-x; */
}

.carousel-control{
    display: none;
}

.carousel-control.right {
    right: 0;
    left: auto;
    /* background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%); */
    background-image: none;
    /* background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5))); */
    /* background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%); */
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);*/
    /* background-repeat: repeat-x; */
}

.btm-header {
    width: 100%;
    background: #1d253a;
    height: 10px;
}



.triangle {
    position: absolute;
    right: 38%;
    top: 96px;
    margin-right: 9px;
    /* font-size: 86px; */
    /* left: 67px; */
}

span.glyphicon.glyphicon-triangle-top {
    font-size: 28px;
    color: #1d253a;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 31%;
    top: 23%;
    z-index: 15;
    width: 60%;
    height: 100px;
    padding-left: 0;
    margin-left: 16%;
    text-align: center;
    list-style: none;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 4px;
    background-color: #fff;
    border: 1px solid #fff;
}

.carousel-indicators .active:nth-child(2) {
background-color: #fff;
border: 1px solid #fff;
}

.carousel-indicators .active:nth-child(3) {
background-color: #fff;
border: 1px solid #fff;
}

.carousel-indicators .active:nth-child(4) {
background-color: #fff;
border: 1px solid #fff;
}


.carousel-indicators li {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 4px;
    text-indent: -999px;
    cursor: pointer;

    background-color: #1d4696;
     border: 1px solid #1d4696;
    border-radius: 10px;
}

.carousel-caption.left {
    top: 20%;
    /* right: 46%; */
    left: 13%;
    width: 40%;
    text-align: left;
}

.carousel-caption h2 {
    font-size: 24px;
    margin: 25px 0px 15px 0px;
    font-style: normal;
    text-shadow: none;
    color: #397bfb;
    font-weight: 600;
}

.carousel-caption h3{
	font-size: 48px;
    font-style: normal;
    text-shadow: none;
    color: #135699;
}

.carousel-caption p {
    font-size: 14px;
    /* font-weight: 600; */
    font-style: normal;
    text-shadow: none;
    text-align: left;
    color: #fff;
}

.carousel-caption a{
	  font-size: 20px;
    font-style: italic;
    text-shadow: none;
    color: #29abe2;
}

a.left.carousel-control img{
	position: absolute;
    top: 50%;
    height: 60px;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}

a.right.carousel-control img{
	position: absolute;
    top: 50%;
    height: 60px;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}

.carousel-caption.left img {
    float: left;
    height: 45px;
    margin-top: 18px;
    margin-right: 15px;
}

.carousel-caption.right {
    width: 30%;
    /* right: 10%; */
    top: 10%;
    left: 70%;
    text-align: left;
}


.panel-inner {
    background: rgba(16, 21, 33, 0.7);
    padding: 50px 30px 50px 45px;
}

.carousel-caption.right a {
    font-size: 12px;
    font-weight: 600;
    font-style: italic;
    text-shadow: none;
    color: #29abe2;
}

h3.orange{
	color: #f7931e;
}

a.orange{
	color: #f7931e;
}

h3.green{
	color:#009245;
}

a.green{
	color: #009245;
}

.panel-body {
    padding: 15px;
    color: #666666;
    text-shadow: none;
}

.panel-body.carousel-text {
    line-height: 24px;
    letter-spacing: 0.4px;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px dashed transparent;
    background-color: transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-danger>.panel-heading {
    color: #fff;
    background-color: #e8495c;
    border-color: #e8495c;
}




.panel-danger {
    border-color: #000;
}

.cmmlogo {
    /* width: 200px; */
    float: left;
    margin-right: 25px;
}

.cmmlogo img {
    width: 260px;
    /* float: left; */
}

.cmmdesc p{
	font-size: 14px;
}


button.btn.btn-grey {
    background: #4d4d4d;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.8px;
    /* font-size: 14px; */
    font-style: normal;
}

.bg-gradient {
    background: #397bfb;
    /*padding: 28px 0px 28px 20px;*/
    /* background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#397bfb), to(#29abe2)); */
    background: linear-gradient( #397bfb, #29abe2);
   background: -moz-linear-gradient(top, #397bfb, #29abe2);
    background: -ms-linear-gradient(top, #397bfb, #29abe2);
    background: -o-linear-gradient(top, #397bfb, #29abe2);
}

.small-grid {
    float: left;
    width: 33%;
    padding: 28px 0px 28px 20px;
    border-right: 1px solid #ccc;
}
.icon-box{
    float: left;
    width: 50px;
}
.icon-box img{
    width: 30px;
}
.txt-content {
    float: left;
}
h3.sub-content {
    font-size: 14px;
    color: #fff;
    margin: 0;
}
h3.sub-content span{
    font-size: 20px;
}
section.projects {
padding: 20px 0px 30px 0;
}

h1.heading {
    color: #29abe2;
    font-size: 26px;
    margin-bottom: 35px;
}

blockquote {
background: #fff;
    border-left: 7px solid #29abe2;
    width: 20px;
    min-height: 40px;
    float: left;
    margin: 2px 0px;
    padding: 0px 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

.btn-primary{
    border:none;
    border-radius: 0;
    padding: 10px;
}

.btn-primary.focus,
.btn-primary:focus {
    background: #3fa149;
    /* padding: 28px 0px 28px 20px; */
		background: linear-gradient( #397bfb, #29abe2);
    background: -webkit-linear-gradient(top, #397bfb, #29abe2);
    background: -moz-linear-gradient(top, #397bfb, #29abe2);
    background: -ms-linear-gradient(top, #397bfb, #29abe2);
    background: -o-linear-gradient(top, #397bfb, #29abe2);
}

.btn-primary:hover {
    color: #c3ffc4;
    background: #3fa149;
    /* padding: 28px 0px 28px 20px; */
		background: linear-gradient( #397bfb, #29abe2);
      background: -webkit-linear-gradient(top, #397bfb, #29abe2);
    background: -moz-linear-gradient(top, #397bfb, #29abe2);
    background: -ms-linear-gradient(top, #397bfb, #29abe2);
    background: -o-linear-gradient(top, #397bfb, #29abe2);
}

.inner-row {
    padding: 55px 130px 0px 125px;
    /*min-height: 433px;*/
}

.projectsdesc p{
    font-size: 16px;
    color: #eee;

}
.btns button {
    margin-top: 20px;
    margin-bottom: 5px;
}
section.prjcts {
    margin-top: 30px;
}
.projectsmap {
    width: 64%;
    /*height: 454px;*/
    float: left;
}
h1.prjheading {
    color: #29abe2;
    font-size: 24px;
    margin-bottom: 25px;
}
.prjdesc p {
    float: left;
    width: 90%;
    font-size: 14px;
    padding-bottom: 10px;
    line-height: 18px;
    background-color: white;
}

.blkcontent {
    width: 100%;
    height: 330px;
    min-height: 330px;
    overflow-y: scroll;
}
.projectsdesc {
    width: 36%;
    float: left;
    background: #1D253A;
    padding-bottom: 22px;
}
/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track
{
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	border-radius: 0px;
	background-color: #f0f0f0;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #f0f0f0;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 0px;
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
	background-color: #c4c4c4;
}


.prjcontent {
    position: absolute;
    width: 37%;
    /* top: 77px; */
    padding: 10px;
    color: #fff;
    background: #004471;
    bottom: 10px;
    left: 30px;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}


.flyout{
position: absolute;
    width: 86%;
    top: 50%;
    left: 30%;
    /* text-align: center; */
    z-index: 10000;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}


.flyout img {
    width: 30px;
    float: left;
    margin-right: 7px;
}

.flyout h1 {
    font-size: 18px;
    color: #fff;
    width: 60%;
    margin-top: 10px;
    /* text-align: left; */
}

section.portals {
	padding: 40px 0px 20px 0px;
    background: #f8f8f8;
}

.partnerdesc {
    width: 36%;
    float: left;
    background: #f5f5f5;
        padding-bottom: 70px;
}
.partner-row {
    padding: 55px 0px 0px 75px;
}
.slider-title {
    margin-top: 54px;
    margin-left: 20px;
}
.slider {
    margin-left: 32px;
}

.projectsmap .owl-controls.clickable {
    position: absolute;
    top: -68px;
    left: 180px;
}
.pro-info {
    float: left;
    width: 530px;
    margin-left: 30px;
}

.prodct.artical img {
    float: left;
}
.partner-logo img {
    width: 150px;
}
.pro-info p {
    font-size: 14px;
    line-height: 24px;
    color: #666;
    font-style: italic;
}
.cate-name ul {
    margin-top: 25px;
    padding: 0;
}
.cate-name ul li {
    font-size: 14px;
    line-height: 24px;
    color: #2996CD;
}
.rev-button {
    margin-top: 65px;
}
section.clients {
	padding: 40px 0px 20px 0px;
    background: #f3f3f3;
}
.partner-logo {
    width: 50%;
    float: left;
}
.angles{

	background-image: url(../images/arrow-1.png);
	padding: 40px 85px 0 85px;
    max-width: 100%;
    height: 200px;

}

.owl-item img {
    width: 120px !important;
}

footer {
    color: #848484;
    background: #D4D4D4;
    font-size: 12px;


}

.social-media {
    float: left;
    font-size: 35px;
    margin: 2%;
}

footer .footer-bottom {
  background: #090b12;
padding-top: 20px;
padding-bottom: 20px;
margin-top: 0px;
line-height: 14px;
margin-left: -30px;

}

.footer-bottom a {
    color: #b3b3b3;
}

.footerTopSection {
    padding-bottom: 50px;
}



/*-----Careers--------*/
span.active-top:before {
    content: "\f0d8";
}
span.active-top {
     display: inline-block;
    position: absolute;
    top: 102px;
    /* left: 3px; */
    right: 18%;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 38px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* content: "\f0d8"; */
    color: #1d253a;
}
section.breadcrumb-banner-services {
    background-image: url(../images/banners/Banner-careers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #3C4B68;
    padding: 100px 20px 100px 20px;
}
.breadcrumb-banner-services img {
    width: 50px;
    float: left;
}
.bread-title {
    margin-left: 70px;
}
.breadcrumb-banner-services h1 {
    /*color: #1d253a;*/
    margin-top: 10px;
}
.bg-careeers {
    background: #eee;
    padding: 30px;
}
.career-container {
    /* padding-right: 15px; */
    width: 100%;
    position: relative;
    /* padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
}
.career-content-div {
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-top: 45px;
    padding-bottom: 90px;
}

.career-content-div p {
    font-size: 13px;
    line-height: 26px;
}
p.margin-btm {
    margin-top: 20px;
    margin-bottom: 40px;
}
.
.fullwidth-content.careers .accordion-toggle:after a:hover {
   color: #1D253A;
}

.fullwidth-content.careers .accordion-toggle.collapsed:after {
    content: "\f0d7";
     color: #1D253A;
}
.fullwidth-content.careers .accordion-toggle.collapsed:after a:hover{
     color: #1D253A;
}
.fullwidth-content.careers h4 .accordion-toggle.collapsed:after {
    color: #29abe2;
}
h1.heading-blue {
    font-size: 20px;
    color: #1d253a;
    padding-bottom: 20px;
    padding-top: 10px;
}
.career_form{
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #eee;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
input.form-control:focus {
  border-color: #D4D4D4;
  box-shadow: none;
}
select.form-control:focus {
  border-color: #D4D4D4;
  box-shadow: none;
}
textarea.form-control:focus {
  border-color: #D4D4D4;
  box-shadow: none;
}
.btm-spacer-services {
    padding-top: 122px;
    padding-bottom: 122px;
}

@media (max-width: 468px){
    .bg-careeers {
    background:none;
    padding: 30px;
}
}

/*-----End Careers--------*/

/*-----Contact us--------*/
.submit-btns{
    margin-top: 20px;
}


/*-----End Contact us--------*/




/*-----Careers--------*/
span.active-top:before {
    content: "\f0d8";
}
span.active-top {
     display: inline-block;
    position: absolute;
    top: 102px;
    /* left: 3px; */
    right: 18%;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 38px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* content: "\f0d8"; */
    color: #1d253a;
}
section.breadcrumb-banner-services {
    background-image: url(../images/banners/Banner-careers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #3C4B68;
    padding: 100px 20px 100px 20px;
}
.breadcrumb-banner-services img {
    width: 50px;
    float: left;
}
.bread-title {
    margin-left: 70px;
}
.breadcrumb-banner-services h1 {
    /*color: #1d253a;*/
    margin-top: 10px;
}
.bg-careeers {
    background: #eee;
    padding: 30px;
}
.career-container {
    /* padding-right: 15px; */
    width: 100%;
    position: relative;
    /* padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
}
.career-content-div {
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-top: 45px;
    padding-bottom: 90px;
}

.career-content-div p {
    font-size: 13px;
    line-height: 26px;
}
p.margin-btm {
    margin-top: 20px;
    margin-bottom: 40px;
}
.fullwidth-content.careers .accordion-toggle:after {
    position: relative;
    right: 20px;
    /* top: 0; */
        bottom: 32px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 24px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f0da";
    float: left;
    color: #1d4696;
}
.fullwidth-content.careers .accordion-toggle:after a:hover {
   color: #1d4696;
}

.fullwidth-content.careers .accordion-toggle.collapsed:after {
    content: "\f0d7";
     color: #1D253A;
}
.fullwidth-content.careers .accordion-toggle.collapsed:after a:hover{
     color: #1D253A;
}
.fullwidth-content.careers h4 .accordion-toggle.collapsed:after {
    color: #29abe2;
}
h1.heading-blue {
    font-size: 20px;
    color: #1d253a;
    padding-bottom: 20px;
    padding-top: 10px;
}
.career_form{
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #eee;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
input.form-control:focus {
  border-color: #D4D4D4;
  box-shadow: none;
}
select.form-control:focus {
  border-color: #D4D4D4;
  box-shadow: none;
}
textarea.form-control:focus {
  border-color: #D4D4D4;
  box-shadow: none;
}
.btm-spacer-services {
    padding-top: 122px;
    padding-bottom: 122px;
}
div #otherType
{
    display: none;
}
div #imgdiv
{
    float: left;
}
.fa.fa-refresh.fa-2x.pointer
{
    cursor: pointer;
}
.alert.alert-success.form
{
    display: none;
}
.alert.alert-info.form
{
    display: none;
}
    .career-content-div li {
    font-size: 13px;
    list-style: circle;
}
.fileUpload {
    background: none;
    border: none;
    box-shadow: none;
}
@media (max-width: 468px){
    .bg-careeers {
    background:none;
    padding: 30px;
}
}

/*-----End Careers--------*/

/*-----Contact us--------*/
.submit-btns{
    margin-top: 20px;
}


ul.contact-details li {
    font-size: 16px;
    line-height: 28px;
}

ul.contact-details {
    margin-top: 25px;
}

.contact-details h3 {
    font-size: 18px;
    font-weight: 600;
}
.col-sm-7.left25 {
    left: 25%;
}
.form-control
{
    font-size: 12px;
}
.marginbottom10
{
    margin-bottom: 10px;
}
.btm-header.navigation.noheight {
    height: 10px;
    padding: 0px;
}
/*-----End Contact us--------*/


section.enquire {
    background: #3C4B68;
    padding: 30px 20px 30px 20px;
}
h1.enquire-head {
    color: #fff;
    font-size: 28px;
}
.btns-cat-fullwidth{
    width: 100%;
    float: left;
}
.btns-cat-fullwidth span {
    font-style: normal;
    color: #848484;
    font-weight: 300;
    /* width: 50%; */
    position: relative;
    top: 21px;
    /* float: left; */
    font-size: 13px;
    margin-left: 20px;
}
.btns-cat-fullwidth img {
    width: 15px;
}


video::-internal-media-controls-download-button {
    display:none;
   }

   video::-webkit-media-controls-enclosure {
        overflow:hidden;
   }
   video::-webkit-media-controls-panel {
        width: calc(100% + 30px); /* Adjust as needed */
   }

/*---Added to make all gradient buttons same size---*/
/*.btn.btn-primary.bg-gradient
{
min-width: 155px;
}*/
.right-edge {
    margin-left: 33%;
}
/*---End changes--*/
/*-----Responsive Css---------*/
@media (max-width: 468px){
.slider {
    width: 100%;
}
.pro-info {
    float: left;
    width: 220px;
    margin-left: 14px;
}
.pro-info p {
    font-size: 12px;
    line-height: 18px;
    color: #666;
    font-style: italic;
}
.inner-row {
    min-height: auto;
    padding: 25px 25px 25px 25px;
}
.projectsdesc{
    height: auto !important;
}
.btns button {
    width: 45%;
    margin-left: 6px;
}
.projectsmap .owl-controls{
    position: absolute;
    top: -42px;
    left: 34px;
}
.prodct.artical {
    float: left;
    margin-left: 20px;
}

.carousel-caption.right {
    width: 100%;
    top: 41%;
    text-align: left;
    right: 0;
    left: 0;
    z-index: 1000;
}
.panel-inner{
    padding: 5px 20px  5px 20px;
}
.navbar-fixed-top {
    top: 39px;
    border-width: 0 0 1px;
}
.top-header {
    position: relative;
    float: left;
    width: 100%;
    display: block;
    height: 40px;
    background: #ccc;
    /* margin-bottom: 44px; */
}
ul.top-menu {
    background: none;
    text-align: left;
    padding-left: 16px;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 0;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 24px;
    }
    .menu-right {
    position: relative;
     width: 100%;
    float: left;
    text-align: left;
}
.carousel-inner>.item {
    margin-top: 68px;
    min-height: 290px;
    background: #52555e;
}
.carousel-caption{
    background: transparent;
}
.panel-inner{
    background: transparent;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}

.carousel-caption h2 {
    font-size: 14px;
    width: 170px;
    margin: 0px 0px 4px 0px;
    font-style: normal;
    text-shadow: none;
    color: #29abe2;
    font-weight: 600;
}
.carousel-caption p {
    font-size: 11px;
    /* font-weight: 600; */
    font-style: normal;
    text-shadow: none;
    text-align: left;
    color: #fff;
}
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 30%;
    top: 60%;
    z-index: 15;
    width: 60%;
    height: 100px;
    padding-left: 0;
    margin-left: 16%;
    text-align: center;
    list-style: none;
}

.h2, h2 {
    font-size: 20px;
}
.bg-gradient {
    background: #3fa149;
    float: left;
    width: 100%;
    /* padding: 28px 0px 28px 20px; */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#397bfb), to(#29abe2));
    background: -webkit-linear-gradient(top, #397bfb, #29abe2);
    background: -moz-linear-gradient(top, #397bfb, #29abe2);
    background: -ms-linear-gradient(top, #397bfb, #29abe2);
    background: -o-linear-gradient(top, #397bfb, #29abe2);
}
.small-grid {
    float: left;
    width: 33%;
    /* background: #3fa149; */
    /* padding: 28px 0px 28px 20px; */
    /* background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#397bfb), to(#29abe2)); */
    /* background: -webkit-linear-gradient(top, #397bfb, #29abe2); */
    /*background: -moz-linear-gradient(top, #397bfb, #29abe2);*/
    /*background: -ms-linear-gradient(top, #397bfb, #29abe2);*/
    /*background: -o-linear-gradient(top, #397bfb, #29abe2);*/
    padding: 26px 1px 24px 9px;
    border-right: 1px solid #ccc;
}
.btns-cat {
    width: 100%;
    float: left;
}
.content-large{
    width: 100%;
    padding-right: 15px;
    padding-left: 20px;
    height: auto;
    padding-bottom: 40px;
    border-bottom: 1px solid #ccc;
}
section.bg-grey {
    background: #fff;
}
.content-large-left {
    width: 100%;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 20px;
    height: auto;
    padding-bottom: 40px;
    border-bottom: 1px solid #ccc;
}
.icon-box {
    float: left;
    width: 20px;
    /* margin-left: 10px; */
}
.icon-box img {
    width: 20px;
    /* margin-left: -2px; */
}
.txt-content {
    float: left;
    margin-left: 7px;
}
h3.sub-content {
    font-size: 12px;
    color: #fff;
    margin: 0;
}
h3.sub-content span {
    font-size: 11px;
}
.cmmlogo {
    width: 100%;

}
.projectsdesc {
    width: 100%;
    float: left;
    /* background: #1D253A; */
    /* padding-bottom: 22px; */
}
.projectsmap {
    width: 100%;
    /* height: 454px; */
    float: left;
}
.footerColumn {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #848484;
    /* height: 155px; */
}

footer {

     margin-top: 0;
}
.partnerdesc {
    width: 100%;
    float: left;
}
.partner-row {
    padding: 40px 0px 0px 33px;
}
.rev-button{
    width: auto;
    margin-left: 10px;
    margin: 10px 0px 10px 0px;
}
.slider {
    margin-left: 0;
    float: left;
}
.projectsmap .owl-theme .owl-controls{
    position: absolute;
    top: -67px;
    left: 210px;
}


video {
    width: 100%;
    height: auto;
}
.marginleft64
{
    margin-left: 0px;
}
.feat-icon-small
{
    margin-right: 5px;
}
.btm-header-nav
{
    display: none;
}
.feat-icon
{
    margin-left: 25px;
}
.navbar-fixed {
    top: 0;
    z-index: 100;
  position: fixed;
    width: 100%;

}
.content h1
{
    margin-bottom: 20px;
    font-size: 19px;
}
   .col-sm-7.left25
   {
    left: 0%;
   }
     .marginleft30
   {
    margin-left: 0px;
    margin-bottom: 10px;
   }
  .marginmobilemenu
  {
    margin-left: 10px;
    margin-bottom: 5px;
  }
  .fontsize12
  {
    font-size: 12px;
  }
  .marginmobilelist
  {
    margin-top: 20px;


  }

    h2.feat {
        margin-left: 30px;
    }
    .content p
    {
        margin-left: 30px;
    }

.height-stories .owl-theme .owl-controls {
    position: absolute;
     top: -67px;
    left: 230px;
}
    .floatleft {
    float: left;
}
section.projects1 {
    padding-top: 75px;
    }
    .paddingleftmoblie0
    {
        padding-left: 0px;
    }
    .paddingmobile0
    {
        padding: 0px;
    }
    .floatnone
    {
        float: none;
    }
   section.height-stories {
    padding-left: 0px;
    padding-right: 0px;
    }
.container-fluid.projects
{
    padding: 0px;
}
.col-md-4.prjdesc-projects
{
    padding-left: 30px;
    padding-right: 30px;
}
.col-sm-12.slider-projects
{
    margin-left: 30px;
}
.mobilewidth80
{
    width: 80px;

}
.floatright
{
    float: right;
}
.mobliemargintopminus50 {
    margin-top: -50px;
}
.mobilewidth95
{
    width: 95px;
}
.col-sm-3.col-xs-4 img
{
    margin-bottom: 10px;
    padding-right: 0px;
}

.clients-content-mobile
{
    display: block;
    margin-top:25px;
}
.clients-content-mobile img
{
    margin-bottom: 10px;
 }
.clients-content-large
{
    display: none
}
.mobilemarginleft20
{
    margin-left: 20px;
}
.item.clients.active
{
    margin-top: 10px;
}
.nomobliepaddingtop
{
    padding-top: 0px;
}
.btm-spacer-services
{
    padding-bottom: 0px;
    padding-top: 100px;
}
.mobilemarginright15{
    margin-right: 15px;
}
.content.mobilemarginleft30 h1 {
    margin-left: 30px;
}
.mobilewidth100
{
    width: 100% !important;
}

}
/*----End Responsive Css------*/

/* Mobile Menu Css */
div#cssmenu {
    /*display: none !important;*/
}
    #cssmenu {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    width: 100%;
    background-color: rgba(29, 37, 58, 0.98);
    height: 100%;
    /* padding: 1%; */
    border-radius: 3px;
    color: #000;
    z-index: 20000;
}
.close-menu {
    /* position: fixed; */
    top: 10px;
    right: 10px;
    /* border: 1px solid #eee; */
    margin-left: 90%;
    width: 40px;
    opacity: 1;
}
.close-menu a i {
    color: #fff;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #fff;
}

#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  /*margin: 0;*/
  /*padding: 0;*/
  /*border: 0;*/
  list-style: none;
  line-height: 1;
  display: block;
/*background: #d4d4d4;*/
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu {
    display: none;
    width: 100%;
    /*font-family: Raleway, sans-serif;*/
    color: #ffffff;
    margin-top: 0px;
}
#cssmenu ul ul {
  display: none;
}
#cssmenu > ul > li.active > ul {
  display: block;
}
.align-right {
  float: right;
}
#cssmenu > ul > li > a {
    padding: 15px 14px;
    cursor: pointer;
    /*z-index: 2;*/
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    /*background: #1d253a;*/
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}
#cssmenu > ul > li > a:hover {
  color: #d8f3f0;
}
#cssmenu ul > li.has-sub > a:after {
  position: absolute;
  right: 26px;
  top: 19px;
  z-index: 5;
  display: block;
  height: 10px;
  width: 2px;
  background: #ffffff;
  content: "";
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
#cssmenu ul > li.has-sub > a:before {
  position: absolute;
  right: 22px;
  top: 23px;
  display: block;
  width: 10px;
  height: 2px;
  background: #ffffff;
  content: "";
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
#cssmenu ul > li.has-sub > a{
 /*padding: 10px 20px;*/
 font-size: 16px;

}
#cssmenu ul > li.has-sub > ul > li > a{
 padding: 10px 20px;
color: #fff;
 font-size: 14px;
}

#cssmenu ul > li.has-sub > ul > li > a:hover{
color: #2A9FD8;
}


#cssmenu ul > li.has-sub.open > a:after,
#cssmenu ul > li.has-sub.open > a:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#navbar-collapse-grid{
    padding: 0;
}

@media (max-width: 640px)  {
.navbar-header {
    padding-bottom: 15px;
}
.navbar-toggle
{
    margin-top: 22px;
}
div#cssmenu {
    /*display: block !important;*/
  }
    ul.nav.navbar-nav.navbar-right{
    display: none;
}
}

/*End Mobile Menu Css*/




/*New Changes*/
header #logo {

    margin-top: -35%;

    max-width: 100%;
}
div#logo img {
    height: 110px;
}
.top-header
{
    margin-top: 3%;
}
/*End changes */
/*Fixtures*/
.fixtureResults
{
	float: left;
	min-width: 80%;
}
.fixturesDetails {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
		width: 75%;
    font-size: 24px;

}
.fixturesCarousel {
    margin-left: 16%;
}
.imgHome {
    float: left;
    margin-right: 10%;
}
.matchDates {
    font-size: 18px;
}
.redTextScore {
    color: red;
    font-size: 20px;
    font-weight: 800;
    padding-left: 30%;
}
.matchScore {
    float: left;
		margin-right: 10%;
}
.imgAway
{
	float: left;
}
.pointsTableActive
{
	background: #2b479e;
    color: white;
}
.parallax-banner-fixtures {
    background-image: url(../images/banners/banner-fixtures.jpg);
    background-position: 100%;
    padding: 60px 0px 60px 0px;
    background-repeat: no-repeat;
    background-color: #3c4b68;
    height: 267px;
}

.Upcoming.fixturesCarousel
{
	margin-left: 5%;
}
.Upcoming.imgAway {
    width: 29%;
}
.Upcoming.imgHome {
    width: 29%;
}

.Upcoming.fixtureResults {
    margin-bottom: 10%;
}

.btm-spacer-services-fixtures {
    padding-top: 410vh;
	}
 /*End Fixtures */

/*Squad */
.parallax-banner-squad{
    background-image: url(../images/banners/banner-squad.jpg);
    background-position: 100%;
    padding: 60px 0px 60px 0px;
    background-repeat: no-repeat;
    background-color: #3c4b68;
    height: 267px;
}
.squadContainer {
  position: relative;
  width: 15%;
	float: left;
	margin: 5%;
}
.heading.squad-head
{
    font-size: 35px;
}
.squadImage {
  display: block;
  width: 100%;
  height: auto;
}

.overlaySquad {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #003b87;
}

.squadContainer:hover .overlaySquad {
  opacity: 1;
}

.squadText {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
/* Tabs panel */
.tabbable-panel {

  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
  font-size: 25px;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #7c94e0;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #2b479e;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
  font-size: 25px;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;

  padding-bottom: 15px;
}
/*End Squad */
